--extra-index-url https://download.pytorch.org/whl/cu118
diffusers[torch]==0.26.0
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2 
xformers==0.0.23.post1
transformers==4.37.2
bitsandbytes
decord==0.6.0
click==8.1.7
pytorch-lightning==1.9.0
omegaconf==2.2.3
nerfacc==0.3.3
trimesh==3.9.8
pyhocon==0.3.57
icecream==2.1.0
PyMCubes==0.1.2
accelerate==0.21.0
modelcards
einops
ftfy
piq
matplotlib
opencv-python
imageio
imageio-ffmpeg
scipy
pyransac3d
torch_efficient_distloss
tensorboard
rembg
segment_anything
gradio==3.50.2
moviepy
kornia